
{{ "article.css" | asset_url | stylesheet_tag  }}


    <article class="article__section" id="article-section" >
      <div class="article__container container">
        <div class="article">
          {% for block in section.blocks %}
            {% case block.type  %}
        
              {% when 'article_title' %}
              <div class="article__data">
                <a href="{{ blog.url }}">{{ blog.title }}</a>
                <h1 class="article__data-title">{{ article.title }}</h1>
              </div>

              {% when 'article_author' %}
              {% if section.settings.enable_author %}
                <div class="article__data">
                  <p class="article__data-author">Author: {{ article.author }} | <time datetime="{{ article.published_at | date: "%b %d, %y" }}">{{article.published_at | date: "%b %d, %y" }}</time>
                  </p> 
                </div>
            
              {% endif %}

              {% when 'featured_image' %}
              {% if article.image != blank  %}
                <div class="article__image">
                  <img src="{{ article.image | image_url: width: 350 }}" loading="lazy" alt="{{ article.image.alt | escape }}">
                </div>
              {% else %}
                {% assign placeholder_image = 'lifestyle-2' %}
                <div class="article__image">
                  {{ placeholder_image | placeholder_svg_tag: "article__placeholder" }}
                </div>
              {% endif %}

              {% when 'article_content' %}
              <div class="article__content">
                <p class="article__content-text"> {{ article.content }} </p>
              </div>

              {% else %}
            {% endcase %}
          {% endfor %}
      
        </div>
      </div>
    </article>

    <section class="article__section comment-section container">
      <div class="previous_next_buttons">
        {% if blog.next_article %}
            {{ 'Next post >>' | link_to: blog.next_article }}
        {% endif %}

        {% if blog.previous_article %}
          {{ '<< Previous post' | link_to: blog.previous_article }}<br/> 
        {% endif %}
      </div>
      <div class="comment">
        {% paginate article.comments by 2 %}
           
              <div class="comment__data">
                {% for comment in article.comments %}
                  {{ comment.content }}
                {% endfor %}
              </div>
           

          {% render 'pagination', pagination:paginate %}
        {% endpaginate %}
        <div class="comment__box">
          
                {% if blog.comments_enabled? %}
                {% form 'new_comment', article %}
                {{ form.errors | default_errors }}
              
                        <div class="comment__user">
                          <div class="from-group">
                            <label for="name">Name</label>
                            <input type="text" class="from-input" placeholder="Type your name" name="comment[author]" value="{{ form.author }}">
                          </div>
                        
                          <div class="from-group">
                            <label for="email">Email</label>
                            <input type="email" class="from-input" placeholder="Type your email" name="comment[email]" value="{{ form.email }}">
                          </div>
                        </div>
                      
                        <div class="from-group">
                          <textarea rows="10" placeholder="Type your comment" class="from-input" name="comment[body]">{{ form.body }}</textarea>
                        </div>
                      
                        <div class="submit">
                          <input type="submit" class="btn btn-primary" value="Submit">
                        </div>
              {% endform %}
            {% endif %} 
        </div>
      </div>
    </section>

{% schema %}
{
  "name": "Template Article",
  "settings": [
      {
        "type": "checkbox",
        "id": "enable_author",
        "default": true,
        "label": "Display Author Name"
      }
  ],

  
  "blocks": [
  {
    "name": "Title",
    "type": "article_title",
    "limit": 1
  },

  {
    "name": "Author",
    "type": "article_author",
    "limit": 1
  },

  {
    "name": "Published Date",
    "type": "article_published_date",
    "limit": 1
  },

  {
    "name": "Thumbnail",
    "type": "featured_image",
    "limit": 2
  },
  {
    "name": "Content",
    "type": "article_content",
    "limit": 1
  }
]
}
{% endschema %}